.header {
    background: #2874f0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2px 0px;
  }
  .first {
    padding-top: 3px;
    padding-right: -120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 120px;

  }
  .first1 {
    display: flex;
    align-items: center;
  }
  .first > img {
    /* height: 100px; */
    width: 75px;
    object-fit: contain;
  }
  .second {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 3px;
  }
  .second > input {
    border: none;
    outline: none;
    width: 33vw;
    padding: 10px 15px;
    border-radius: 3px;
  }
  .second > .MuiSvgIcon-root {
    color: #2874f0;
    padding: 5px;
    font-size: 25px;
  }


  .category-row {
    box-shadow: rgb(177, 174, 174) 0px 0px 5px 0px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 110px;
    text-align: center;
  }
  .category-col {
    padding-top: 10px;
    margin-inline: -70px;
    cursor: pointer;
    color: rgb(85, 83, 83);
  }
  
  .category-col img {
    width: 64px;
    height: 64px;
  }
  
  
  .category-row .category-col h5 {
     margin-top: -2px;
    font-size: 15px;
    font-weight: 500;
    color: black;
  }
  
  .category-col h5:hover {
    color: #2874f0;
  }
  
  .third > button {
    border: none;
    outline: none;
    padding: 7px;
    width: 8vw;
    color: #2874f0;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .fourth {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .fourth:hover > .MuiSvgIcon-root {
    transition: transform 0.2s;
    transform: rotate(180deg) translateY(-3px) translateX(-3px);
  }
  .fourth > .MuiSvgIcon-root {
    color: white;
    font-size: 17px !important;
    padding-top: 5px;
    padding-left: 5px;
  }
  .fourth > p {
    color: white;
    font-weight: 600;
  }
  .fifth {
    align-items: center;
    display: flex;
    padding-right: 120px;
  }
  .fifth .cart {
    cursor: pointer;
    width: 20px;
    margin-top: 10px;
    padding-right: 10px;
    color: white;
  }

  @media screen and (max-width: 1000px) {
    .header {
      display: block;
      padding-top: 20px;
      height: 150px;
      width: 100vw;
    }

    .first {
      padding-top: 3px;
      display: block;
    text-align: center;
      padding-left: 10px;
  
    }
    .first1 {
      display: block;
      align-items: center;
    }

    .second {
      display: flex;
      align-items: center;
      background-color: white;
      border-radius: 50px;
      margin-inline: 20px;
      margin-block: 10px;
    }
    .second > input {
      border-radius: 50px;
    }

    .second > .MuiSvgIcon-root {
      color: #2874f0;
      padding-left: 130px;
      font-size: 25px;
    }

    .third > button {
      margin-left: 140px;
      width: 30vw;
      color: #2874f0;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
      border-radius: 50px;
    }
    
    .fourth {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    
    .fourth:hover > .MuiSvgIcon-root {
      transition: transform 0.2s;
      transform: rotate(180deg) translateY(-3px) translateX(-3px);
    }
    .fourth > .MuiSvgIcon-root {
      color: white;
      font-size: 17px !important;
      padding-top: 5px;
      padding-left: 5px;
    }
    .fourth > p {
      color: white;
      font-weight: 600;
    }
    .fifth {
      align-items: center;
      display: flex;
      padding-right: 120px;
    }
    .fifth .cart {
      cursor: pointer;
      width: 20px;
      margin-top: 10px;
      padding-right: 10px;
      color: white;
    }
  
    .category-row {
      display:inline-table;
    }
  
    .card {
     align-items: center;
      margin: 12px 0;
      display: block;
      margin-left: 4px;
    }

    .sidebar{
      text-align: center;
      padding-left: 140px;
      display: block;
    }

    .common-row{
      text-align: center;
      padding-left: 30px;
      display: block;
    }
  
    /* .header ul {
      justify-content: center;
    }
   */
    /* .search {
      justify-content: center;
    }
  
    .search input {
      margin: 12px 16px;
    }
  
    .search button {
      margin-left: 35px;
      padding: 5px 50px;
      height: 35px;
    } */
  
    .fa-search {
      margin-bottom: -5px;
      margin-left: -40px;
    }
  
    .category-col img {
      width: 30px;
      height: 30px;
    }
  
    .category-row .category-col a h5 {
      font-size: 10px;
      font-weight: bold;
    }

    .common-col img {
      width: 69px;
      height: 150px;
      transition: 300ms;
    }
  
    .common-row {
      display: block;
      max-height: 1800px;
    }
  
    .col-headphones img {
      width: 150px;
      height: 150px;
    }
   }
  